<div class="container">
    <div class="row">
        <h1>{{ driver.name }}</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>Upcoming trips:<strong>{{ driver.numberOfUpcomingTrips }}</strong></div>
        </div>
        <div class="col-md-3">
            <div>Finished trips:<strong>{{ driver.numberOfTotalTrips }}</strong></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Only mine trips
                </label>
                <label>
                    <input type="checkbox"> Only driver trips
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <select>
                <option value="None">None</option>
                <option value="From">From</option>
                <option value="To">To</option>
                <option value="DepartureTime">Departure Time</option>
            </select>
        </div>
    </div>

</div>